/* Định dạng chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e2db;
}
/* Thanh Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    height: 60px;
}
a i {
    margin-right: 5px; /* Khoảng cách giữa icon và text */
    font-size: 16px; /* Kích thước icon */
}

.logo {
    font-weight: bold;
    color: #4CAF50;
    font-size: 20px;
}
.nav {
    display: flex;
    gap: 100px;
}
.nav a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 15px;
}
.user {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4CAF50;
    font-size: 16px;
}
.dropdown-icon img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4CAF50;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.dropdown-list a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}
.dropdown-list a:hover {
    background-color: #f0f0f0;
}

.user span {
    font-weight: bold;
    font-size: 15px;
}

/* Phần kết quả doanh thu */
.container {
    padding: 20px;
    text-align: left;
}

.result-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 10px auto;
}

.result-box h2 {
    margin: 0;
    font-size: 24px;
    color: black;
}

.revenue {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #6c9e31;
}
/* Biểu đồ doanh thu */
.chart-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    height: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.chart-box canvas {
    max-width: 90%;
    max-height: 90%;
}
